{% extends "layout.jinja2" %}
<!DOCTYPE html>
<html lang="en">

<head>

    <title>Learning Journal - About</title>


</head>

<body>

{% block content %}


    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Hi my name is Ben.</p>
                <p>I like web development.</p>
                <p>Here is my Learning Journal!</p>
            </div>
        </div>
    </div>

    <hr>

{% endblock %}

</body>

</html>
