<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>

    <title>Learning Journal</title>

  </head>

  <body>
      <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="about">About</a>
                    </li>
                    <li>
                        <a href="login">Login</a>
                    </li>
                    <li>
                        <a href="journal/new-entry">New Entry</a>
                    </li>
                    <li>
                        <a href="logout">Logout</a>
                    </li>                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="starter-template">
      <div class="container">
        <div class="row">
          <div class="col-md-2">

          </div>
          <div class="col-md-10">
            {% block content %}
                <p>No content</p>
            {% endblock content %}
          </div>
        </div>
        <div class="row">
          <div class="copyright">
            Copyright &copy; Ben Shields
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
